# Ignored files
.DS_Store
AssetStoreTools

Temp/
Library/
obj/
*.svd
 
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetserverv3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources
 
 
 
/Project/Project.userprefs
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp.pidb
/Project/Assembly-CSharp-Editor.csproj
/Project/Assembly-CSharp-Editor.pidb
/Project/Assembly-CSharp-Editor-vs.csproj
/Project/Assembly-CSharp-firstpass.csproj
/Project/Assembly-CSharp-firstpass.pidb
/Project/Assembly-CSharp-firstpass-vs.csproj
/Project/Assembly-CSharp-vs.csproj
/Project/Assembly-UnityScript-firstpass.pidb
/Project/Assembly-UnityScript-firstpass.unityproj
/Project/Assembly-UnityScript-firstpass-vs.unityproj
/Project/Project.suo
